node_modules
*.tgz
.DS_Store
/.idea
/output
/dist
/staging-test
/config/
yarn-error.log
/coverage

.DS_Store
/*/*/dist
/*/*/config
*/*/coverage

# Yarn
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
localhost-key.pem
localhost.pem
