<!DOCTYPE html>
<html dir="ltr">
<head>
    <meta charset="utf-8">
    <title><%= templateData.title %></title>
    <style>
        #app-footer {
            position: fixed;
            bottom: 0;
            left: 0;
            right: 0;
            height: 40px;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #292d3e;
            color: #fff;
            font-size: 18px;
        }
    </style>
</head>
<body>
    <div id="<%= templateData.appContainerId %>">
        <div id="app-footer">
            TodoMVC by reSKRipt @ <%= templateData.copyright %>
        </div>
    </div>
</body>
</html>
